@import "colors";

.button {
  align-items: center;
  background: $orange;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  max-width: 100%;
  padding: 0 12px;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  transition-duration: 0.4s;
  transition-property: box-shadow, color, background, border-color;
  transition-timing-function: ease-in-out;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  min-width: 0;
  width: 100%;
  font-weight: bold;
  margin: 0;

  &:focus{
    outline: none;
    box-shadow: 0 0 0 2px darken($orange, 10);
  }

  &:hover {
    text-decoration: none;
  }

  &_variant {
    &_unstyled {
      min-width: 0;
      background-color: transparent;
      border-radius: 0;
      color: inherit;
      height: auto;
      padding: 0;
      font-size: inherit;
      vertical-align: baseline;
      box-shadow: none;
      width: auto;
    }
  }

  &._disabled,
  &[disabled] {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }
}
