.icon {
  display: inline-flex;
  fill: currentColor;
  flex: none;
  height: 1em;
  line-height: 1em;
  position: relative;
  vertical-align: middle;
  width: 1em;

  &_default {
    font-size: 24px;
  }
}
