.auth {
  display: flex;
  flex-direction: column;
  background-color: #fffbe1;
  flex: auto;
  position: relative;

  &__container {
    padding: 48px 16px;
    margin: auto;
    box-sizing: border-box;
    max-width: 100%;
  }

  &__note {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
  }
}
